In [19]:
import pandas as pd
import os

import fuzzywuzzy
from fuzzywuzzy import process

# Load all Odds data for ATP

In [10]:

# Define the directory containing the Excel files
directory = 'CIS 5500/Project/Odds data/ATP/'

# Create an empty list to store dataframes
dataframes = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        # Load the Excel file
        df = pd.read_excel(os.path.join(directory, filename))
        # Append the dataframe to the list
        dataframes.append(df)

# Concatenate all dataframes into one
all_matches_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows of the concatenated dataframe
all_matches_df.head()

/Users/duchoang/miniconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,MaxW,MaxL,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL
0,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Basilashvili N.,...,1.67,2.56,1.56,2.42,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Celikbilek A.,...,2.70,1.55,2.57,1.50,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Ruusuvuori E.,...,1.63,3.03,1.52,2.53,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Bublik A.,...,1.87,2.30,1.72,2.11,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Goffin D.,...,1.50,3.00,1.44,2.78,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
all_matches_df[['B365W', 'B365L']]

       B365W  B365L
0       1.50   2.50
1       2.50   1.50
2       1.50   2.50
3       1.61   2.20
4       1.40   2.75
...      ...    ...
26635   1.36   3.20
26636   1.20   4.50
26637   3.20   1.36
26638   1.11   7.00
26639   5.50   1.14

[26640 rows x 2 columns]

In [21]:
all_matches_df[all_matches_df['Winner']=='Federer R.']

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,MaxW,MaxL,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL
452,11,Doha,Qatar Exxon Mobil Open,2021-03-10,ATP250,Outdoor,Hard,2nd Round,3.0,Federer R.,...,1.61,2.81,1.51,2.54,NaN,NaN,NaN,NaN,NaN,NaN
1178,30,Paris,French Open,2021-05-31,Grand Slam,Outdoor,Clay,1st Round,5.0,Federer R.,...,1.13,7.76,1.11,6.64,NaN,NaN,NaN,NaN,NaN,NaN
1233,30,Paris,French Open,2021-06-03,Grand Slam,Outdoor,Clay,2nd Round,5.0,Federer R.,...,1.53,3.30,1.43,2.84,NaN,NaN,NaN,NaN,NaN,NaN
1252,30,Paris,French Open,2021-06-05,Grand Slam,Outdoor,Clay,3rd Round,5.0,Federer R.,...,1.36,4.00,1.31,3.52,NaN,NaN,NaN,NaN,NaN,NaN
1298,32,Halle,Halle Open,2021-06-14,ATP500,Outdoor,Grass,1st Round,3.0,Federer R.,...,1.18,6.55,1.14,5.69,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26607,66,Paris,BNP Paribas Masters,2018-10-31,Masters 1000,Indoor,Hard,2nd Round,3.0,Federer R.,...,1.37,3.50,1.34,3.31,1.35,3.50,NaN,NaN,NaN,NaN
26616,66,Paris,BNP Paribas Masters,2018-11-01,Masters 1000,Indoor,Hard,3rd Round,3.0,Federer R.,...,1.15,7.25,1.13,6.00,1.15,6.25,NaN,NaN,NaN,NaN
26621,66,Paris,BNP Paribas Masters,2018-11-02,Masters 1000,Indoor,Hard,Quarterfinals,3.0,Federer R.,...,1.50,2.93,1.46,2.79,1.47,2.85,NaN,NaN,NaN,NaN
26630,67,London,Masters Cup,2018-11-13,Masters Cup,Indoor,Hard,Round Robin,3.0,Federer R.,...,1.40,3.65,1.35,3.28,1.37,3.45,NaN,NaN,NaN,NaN
26634,67,London,Masters Cup,2018-11-15,Masters Cup,Indoor,Hard,Round Robin,3.0,Federer R.,...,1.44,3.40,1.38,3.12,1.38,3.40,NaN,NaN,NaN,NaN

# First Attempt to Match Player Data to get to Player ID

The one whose last name with # entry > 1 are temporarily excluded

In [18]:
player_data = pd.read_csv('CIS 5500/CIS-5500/player_data.csv')
atp_player_data = player_data[player_data['is_atp']==True]
atp_player_data

       player_id                   name hand         dob  ioc  height  is_atp
0         100001         Gardnar Mulloy    R  1913/11/22  USA   185.0    True
1         100002          Pancho Segura    R  1921/06/20  ECU   168.0    True
2         100003          Frank Sedgman    R  1927/10/02  AUS   180.0    True
3         100004         Giuseppe Merlo    R  1927/10/11  ITA     NaN    True
4         100005       Richard Gonzalez    R  1928/05/09  USA   188.0    True
...          ...                    ...  ...         ...  ...     ...     ...
65014     212913           Pietro Ricci    U         NaN  ITA     NaN    True
65015     212914            Corey Craig    U         NaN  USA     NaN    True
65016     212915  Aleksandar Ljubojevic    U         NaN  SRB     NaN    True
65017     212916    Marko Milosavljevic    U         NaN  SRB     NaN    True
65018     212917        Stefan Skobelev    U         NaN  SRB     NaN    True

[65019 rows x 7 columns]

In [26]:
# Function to extract last name and first initial
def extract_name(name):
    parts = name.split()
    last_name = parts[0]
    first_initial = parts[1][0]
    return last_name, first_initial

# Function to find the best match
def find_best_match(name, choices):
    match, score = process.extractOne(name, choices)
    return match if score > 80 else None  # Adjust the threshold as needed

# Add columns for winner and loser IDs
all_matches_df['winner_id'] = None
all_matches_df['loser_id'] = None
atp_player_data = atp_player_data.dropna(subset=['name'])

# Create a dictionary for quick look-up of player IDs
player_name_to_id = {row['name']: row['player_id'] for _, row in atp_player_data.iterrows()}

# Create a dictionary to map last names to full names
last_name_to_names = {}
for name in player_name_to_id.keys():
    last_name = name.split()[-1]
    if last_name not in last_name_to_names:
        last_name_to_names[last_name] = []
    last_name_to_names[last_name].append(name)

# Loop through each match
for index, row in all_matches_df.iterrows():
    # Extract winner's last name and first initial
    winner_last, winner_initial = extract_name(row['Winner'])
    # Construct the full name pattern for matching
    winner_pattern = winner_last + ' ' + winner_initial
    
    # Extract loser's last name and first initial
    loser_last, loser_initial = extract_name(row['Loser'])
    # Construct the full name pattern for matching
    loser_pattern = loser_last + ' ' + loser_initial
    
    # Match winner based on last name
    if winner_last in last_name_to_names and len(last_name_to_names[winner_last]) == 1:
        best_winner_match = last_name_to_names[winner_last][0]
        all_matches_df.at[index, 'winner_id'] = player_name_to_id[best_winner_match]
    
    # Match loser based on last name
    if loser_last in last_name_to_names and len(last_name_to_names[loser_last]) == 1:
        best_loser_match = last_name_to_names[loser_last][0]
        all_matches_df.at[index, 'loser_id'] = player_name_to_id[best_loser_match]

# Display the updated dataframe
all_matches_df

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL,winner_id,loser_id
0,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Basilashvili N.,...,1.56,2.42,NaN,NaN,NaN,NaN,NaN,NaN,105932,None
1,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Celikbilek A.,...,2.57,1.50,NaN,NaN,NaN,NaN,NaN,NaN,None,200390
2,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Ruusuvuori E.,...,1.52,2.53,NaN,NaN,NaN,NaN,NaN,NaN,200325,None
3,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Bublik A.,...,1.72,2.11,NaN,NaN,NaN,NaN,NaN,NaN,122330,None
4,1,Antalya,Antalya Open,2021-01-07,ATP250,Indoor,Hard,1st Round,3.0,Goffin D.,...,1.44,2.78,NaN,NaN,NaN,NaN,NaN,NaN,105676,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26635,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3.0,Zverev A.,...,1.38,3.14,1.38,3.40,NaN,NaN,NaN,NaN,None,104545
26636,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3.0,Djokovic N.,...,1.17,5.14,1.19,5.50,NaN,NaN,NaN,NaN,None,None
26637,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3.0,Zverev A.,...,3.14,1.38,3.20,1.42,NaN,NaN,NaN,NaN,None,103819
26638,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3.0,Djokovic N.,...,1.12,6.52,1.14,7.00,NaN,NaN,NaN,NaN,None,None
26639,67,London,Masters Cup,2018-11-18,Masters Cup,Indoor,Hard,The Final,3.0,Zverev A.,...,5.69,1.15,6.00,1.17,NaN,NaN,NaN,NaN,None,None

In [29]:
all_matches_df['winner_id'].isnull().sum()

15441

In [30]:
all_matches_df['loser_id'].isnull().sum()

14889

In [41]:
def get_tourney_level(series):
    if series == 'Grand Slam':
        return 'G'
    elif series in ['Masters 1000', 'Masters Cup']:
        return 'M'
    elif series in ['ATP250', 'ATP500']:
        return 'A'
    else:
        return None

# Apply the function to create the 'tourney_level' column
all_matches_df['tourney_level'] = all_matches_df['Series'].apply(get_tourney_level)

In [36]:
# Display unique values in 'Series' and 'Court' columns
unique_series = all_matches_df['Series'].unique() if 'Series' in all_matches_df.columns else []
unique_court = all_matches_df['Court'].unique() if 'Court' in all_matches_df.columns else []
unique_surface = all_matches_df['Surface'].unique() if 'Surface' in all_matches_df.columns else []

print("Unique values in 'Series':", unique_series)
print("Unique values in 'Court':", unique_court)
print("Unique values in 'Surface':", unique_surface)

Unique values in 'Series': ['ATP250' 'Grand Slam' 'ATP500' 'Masters 1000' 'Masters Cup']
Unique values in 'Court': ['Indoor' 'Outdoor']
Unique values in 'Surface': ['Hard' 'Clay' 'Grass']

In [44]:
all_matches_df['Date'] = pd.to_datetime(all_matches_df['Date'], format='%Y-%m-%d')

In [46]:
all_matches_df['Year'] = all_matches_df['Date'].dt.year

In [48]:
all_matches_df.rename(columns={
    'Surface': 'surface',
    'WRank': 'winner_rank',
    'LRank': 'loser_rank'
}, inplace=True)

In [49]:
all_matches_df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'surface',
       'Round', 'Best of', 'Winner', 'Loser', 'winner_rank', 'loser_rank',
       'WPts', 'LPts', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5',
       'L5', 'Wsets', 'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL',
       'MaxW', 'MaxL', 'AvgW', 'AvgL', 'EXW', 'EXL', 'LBW', 'LBL', 'SJW',
       'SJL', 'winner_id', 'loser_id', 'tourney_level', 'Year'],
      dtype='object')

# Second Attempt: Fuzzy Match to Tourney Match and backfill the missing ID

Match to tourney match based on tourney name, tourney level, surface, tourney_year, winner_rank and loser rank

By this, we can backfill the winner or loser id missing as well

In [57]:
tourney_match = pd.read_csv('CIS 5500/CIS-5500/tourney_match.csv')

/Users/duchoang/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3,8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
unique_series = tourney_match['tourney_level'].unique() if 'tourney_level' in tourney_match.columns else []
unique_surface = tourney_match['surface'].unique() if 'surface' in tourney_match.columns else []

print("Unique values in 'Series':", unique_series)
print("Unique values in 'Surface':", unique_surface)

Unique values in 'Series': ['A' 'G' 'M' 'F' 'D' 'W' 'E' 'O' 'J' 'CC' 'I' 'PM' 'P' 'T1' 'T2' 'T3' 'T4'
 'T5']
Unique values in 'Surface': ['Hard' 'Clay' 'Grass' nan 'Carpet']

In [59]:
tourney_match

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_year
0,M020,Brisbane,Hard,32.0,A,2018-12-31,300,105453,2.0,NaN,...,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0,2019
1,M020,Brisbane,Hard,32.0,A,2018-12-31,299,106421,4.0,NaN,...,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0,2019
2,M020,Brisbane,Hard,32.0,A,2018-12-31,298,105453,2.0,NaN,...,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0,2019
3,M020,Brisbane,Hard,32.0,A,2018-12-31,297,104542,NaN,PR,...,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0,2019
4,M020,Brisbane,Hard,32.0,A,2018-12-31,296,106421,4.0,NaN,...,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343538,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,1,1200259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343539,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,2,1200318,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343540,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,3,1200237,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343541,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,4,1200259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343542,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,5,1200266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978

In [ ]:
# match on tourney_level, surface, contains (tourney_name), winner_rank, loser_rank -> tourney_id, tourney_name, surface, tourney_level, tourney_year, match_num, winner_id, loser_id, winner_rank, loser_rank

In [60]:
# Perform the merge with the specified conditions
merged_df = pd.merge(
    all_matches_df,
    tourney_match,
    left_on=['tourney_level', 'surface', 'Year', 'winner_rank', 'loser_rank'],
    right_on=['tourney_level', 'surface', 'tourney_year', 'winner_rank', 'loser_rank'],
    suffixes=('_all_matches', '_tourney')
)

# Filter rows where 'Tournament' contains 'tourney_name'
merged_df = merged_df[merged_df.apply(lambda row: row['tourney_name'].lower() in row['Tournament'].lower(), axis=1)]

In [69]:
# Fill winner_id_all_matches with winner_id_tourney if it is None
merged_df['winner_id_all_matches'].fillna(merged_df['winner_id_tourney'], inplace=True)

# Fill loser_id_all_matches with loser_id_tourney if it is None
merged_df['loser_id_all_matches'].fillna(merged_df['loser_id_tourney'], inplace=True)

In [70]:
merged_df[['winner_id_all_matches', 'winner_id_tourney', 'loser_id_all_matches', 'loser_id_tourney']]

,winner_id_all_matches,winner_id_tourney,loser_id_all_matches,loser_id_tourney
0,105932,105932,105063,105063
1,123795,123795,200390,200390
2,200325,200325,106210,106210
3,122330,122330,106099,106099
4,105676,105676,105732,105732
...,...,...,...,...
26136,105208,105208,106058,106058
26137,104545,104545,105815,105815
26138,126774,126774,104926,104926
26139,105208,105208,104545,104545
26140,126774,126774,105208,105208

In [77]:
merged_df['odds_maker'] = 'Bet 365'

In [78]:
merged_df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'surface',
       'Round', 'Best of', 'Winner', 'Loser', 'winner_rank', 'loser_rank',
       'WPts', 'LPts', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5',
       'L5', 'Wsets', 'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL',
       'MaxW', 'MaxL', 'AvgW', 'AvgL', 'EXW', 'EXL', 'LBW', 'LBL', 'SJW',
       'SJL', 'winner_id_all_matches', 'loser_id_all_matches', 'tourney_level',
       'Year', 'tourney_id', 'tourney_name', 'draw_size', 'tourney_date',
       'match_num', 'winner_id_tourney', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id_tourney', 'loser_seed', 'loser_entry', 'loser_name',
       'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced', 'winner_rank_points', 'loser_rank_points', 'tourney_year',
       'odds_maker'],
      dtype='object')

In [81]:
winner = merged_df[['match_num', 'tourney_date', 'tourney_id', 'winner_id_all_matches', 'B365W', 'odds_maker']]
winner.rename(columns={
    'winner_id_all_matches': 'player_id',
    'B365W': 'Odds'
}, inplace=True)
winner

/Users/duchoang/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       match_num tourney_date tourney_id  player_id  Odds odds_maker
0            277   2021-01-05       9426     105932  1.50    Bet 365
1            276   2021-01-05       9426     123795  2.50    Bet 365
2            272   2021-01-05       9426     200325  1.50    Bet 365
3            282   2021-01-05       9426     122330  1.61    Bet 365
4            270   2021-01-05       9426     105676  1.40    Bet 365
...          ...          ...        ...        ...   ...        ...
26136        296   2018-10-15       0429     105208  1.66    Bet 365
26137        297   2018-10-15       0429     104545  1.30    Bet 365
26138        298   2018-10-15       0429     126774  1.66    Bet 365
26139        299   2018-10-15       0429     105208  2.20    Bet 365
26140        300   2018-10-15       0429     126774  1.40    Bet 365

[10255 rows x 6 columns]

In [86]:
loser = merged_df[['match_num', 'tourney_date', 'tourney_id', 'loser_id_all_matches', 'B365L', 'odds_maker']]
loser.rename(columns={
    'loser_id_all_matches': 'player_id',
    'B365L': 'Odds'
}, inplace=True)
loser

/Users/duchoang/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       match_num tourney_date tourney_id  player_id  Odds odds_maker
0            277   2021-01-05       9426     105063  2.50    Bet 365
1            276   2021-01-05       9426     200390  1.50    Bet 365
2            272   2021-01-05       9426     106210  2.50    Bet 365
3            282   2021-01-05       9426     106099  2.20    Bet 365
4            270   2021-01-05       9426     105732  2.75    Bet 365
...          ...          ...        ...        ...   ...        ...
26136        296   2018-10-15       0429     106058  2.20    Bet 365
26137        297   2018-10-15       0429     105815  3.50    Bet 365
26138        298   2018-10-15       0429     104926  2.20    Bet 365
26139        299   2018-10-15       0429     104545  1.66    Bet 365
26140        300   2018-10-15       0429     105208  3.00    Bet 365

[10255 rows x 6 columns]

In [88]:
pd.concat([winner,loser]).to_csv('CIS 5500/Project/atp_odds_cleaned.csv')