In [1]:
import pandas as pd
import os

import fuzzywuzzy
from fuzzywuzzy import process

# Load all Odds data for ATP

In [3]:

# Define the directory containing the Excel files
directory = 'CIS 5500/Project/Odds data/WTA/'

# Create an empty list to store dataframes
dataframes = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        # Load the Excel file
        df = pd.read_excel(os.path.join(directory, filename))
        # Append the dataframe to the list
        dataframes.append(df)

# Concatenate all dataframes into one
all_matches_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows of the concatenated dataframe
all_matches_df.head()

/Users/duchoang/miniconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,WTA,Location,Tournament,Date,Tier,Court,Surface,Round,Best of,Winner,...,MaxW,MaxL,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL
0,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Kasatkina D.,...,1.81,2.30,1.68,2.18,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Kudermetova V.,...,2.6,1.64,2.36,1.59,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Sakkari M.,...,1.26,4.75,1.23,4.16,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Putintseva Y.,...,1.43,3.70,1.31,3.44,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Flipkens K.,...,2.63,1.65,2.44,1.55,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
all_matches_df[['B365W', 'B365L']]

       B365W  B365L
0       1.66   2.10
1       2.25   1.57
2       1.22   4.00
3       1.30   3.40
4       2.50   1.50
...      ...    ...
24934   1.72   2.00
24935   2.37   1.53
24936   1.90   1.90
24937   2.20   1.66
24938   2.00   1.80

[24939 rows x 2 columns]

In [5]:
all_matches_df[all_matches_df['Winner']=='Williams S.']

,WTA,Location,Tournament,Date,Tier,Court,Surface,Round,Best of,Winner,...,MaxW,MaxL,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL
169,4,Melbourne,Yarra Valley Classic,2021-02-01,WTA500,Outdoor,Hard,2nd Round,3,Williams S.,...,1.25,5.95,1.19,4.65,NaN,NaN,NaN,NaN,NaN,NaN
186,4,Melbourne,Yarra Valley Classic,2021-02-03,WTA500,Outdoor,Hard,3rd Round,3,Williams S.,...,1.41,3.75,1.32,3.41,NaN,NaN,NaN,NaN,NaN,NaN
191,4,Melbourne,Yarra Valley Classic,2021-02-05,WTA500,Outdoor,Hard,Quarterfinals,3,Williams S.,...,1.43,3.17,1.38,2.99,NaN,NaN,NaN,NaN,NaN,NaN
204,5,Melbourne,Australian Open,2021-02-08,Grand Slam,Outdoor,Hard,1st Round,3,Williams S.,...,1.16,7.90,1.12,6.12,NaN,NaN,NaN,NaN,NaN,NaN
267,5,Melbourne,Australian Open,2021-02-10,Grand Slam,Outdoor,Hard,2nd Round,3,Williams S.,...,1.06,15.00,1.05,10.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24411,44,New York,US Open,2018-08-30,Grand Slam,Outdoor,Hard,2nd Round,3,Williams S.,...,1.07,16.81,1.04,12.46,1.06,13.0,1.06,9.0,NaN,NaN
24435,44,New York,US Open,2018-09-01,Grand Slam,Outdoor,Hard,3rd Round,3,Williams S.,...,1.35,3.96,1.31,3.58,1.33,3.7,1.30,3.4,NaN,NaN
24447,44,New York,US Open,2018-09-02,Grand Slam,Outdoor,Hard,4th Round,3,Williams S.,...,1.22,5.75,1.18,5.08,1.19,5.5,1.17,5.0,NaN,NaN
24455,44,New York,US Open,2018-09-05,Grand Slam,Outdoor,Hard,Quarterfinals,3,Williams S.,...,1.35,3.75,1.32,3.53,1.35,3.6,1.30,3.5,NaN,NaN
24458,44,New York,US Open,2018-09-07,Grand Slam,Outdoor,Hard,Semifinals,3,Williams S.,...,1.25,5.17,1.21,4.74,1.22,5.0,1.20,4.5,NaN,NaN

# First Attempt to Match Player Data to get to Player ID

The one whose last name with # entry > 1 are temporarily excluded

In [6]:
player_data = pd.read_csv('CIS 5500/CIS-5500/player_data.csv')
atp_player_data = player_data[player_data['is_atp']==False]
atp_player_data

        player_id            name hand         dob  ioc  height  is_atp
65019     1113190     Bobby Riggs    U         NaN  USA     NaN   False
65020     1200000             X X    U         NaN  UNK     NaN   False
65021     1200001  Martina Hingis    R  1980/09/30  SUI   170.0   False
65022     1200002   Mirjana Lucic    R  1982/03/09  CRO   181.0   False
65023     1200003   Justine Henin    R  1982/06/01  BEL   167.0   False
...           ...             ...  ...         ...  ...     ...     ...
132109    1267099     Kokoa Nakao    U         NaN  JPN     NaN   False
132110    1267100    Aoi Watanabe    U         NaN  JPN     NaN   False
132111    1267101    Sara Yoshida    U         NaN  JPN     NaN   False
132112    1267102     Ui Su Jeong    U         NaN  KOR     NaN   False
132113    1267103    Alexia Patru    U         NaN  ROU     NaN   False

[67095 rows x 7 columns]

In [15]:
atp_player_data[atp_player_data['name']=='Serena Williams']

       player_id             name hand         dob  ioc  height  is_atp
65053    1200033  Serena Williams    R  1981/09/26  USA   175.0   False

In [7]:
# Function to extract last name and first initial
def extract_name(name):
    parts = name.split()
    last_name = parts[0]
    first_initial = parts[1][0]
    return last_name, first_initial

# Function to find the best match
def find_best_match(name, choices):
    match, score = process.extractOne(name, choices)
    return match if score > 80 else None  # Adjust the threshold as needed

# Add columns for winner and loser IDs
all_matches_df['winner_id'] = None
all_matches_df['loser_id'] = None
atp_player_data = atp_player_data.dropna(subset=['name'])

# Create a dictionary for quick look-up of player IDs
player_name_to_id = {row['name']: row['player_id'] for _, row in atp_player_data.iterrows()}

# Create a dictionary to map last names to full names
last_name_to_names = {}
for name in player_name_to_id.keys():
    last_name = name.split()[-1]
    if last_name not in last_name_to_names:
        last_name_to_names[last_name] = []
    last_name_to_names[last_name].append(name)

# Loop through each match
for index, row in all_matches_df.iterrows():
    # Extract winner's last name and first initial
    winner_last, winner_initial = extract_name(row['Winner'])
    # Construct the full name pattern for matching
    winner_pattern = winner_last + ' ' + winner_initial
    
    # Extract loser's last name and first initial
    loser_last, loser_initial = extract_name(row['Loser'])
    # Construct the full name pattern for matching
    loser_pattern = loser_last + ' ' + loser_initial
    
    # Match winner based on last name
    if winner_last in last_name_to_names and len(last_name_to_names[winner_last]) == 1:
        best_winner_match = last_name_to_names[winner_last][0]
        all_matches_df.at[index, 'winner_id'] = player_name_to_id[best_winner_match]
    
    # Match loser based on last name
    if loser_last in last_name_to_names and len(last_name_to_names[loser_last]) == 1:
        best_loser_match = last_name_to_names[loser_last][0]
        all_matches_df.at[index, 'loser_id'] = player_name_to_id[best_loser_match]

# Display the updated dataframe
all_matches_df

,WTA,Location,Tournament,Date,Tier,Court,Surface,Round,Best of,Winner,...,AvgW,AvgL,EXW,EXL,LBW,LBL,SJW,SJL,winner_id,loser_id
0,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Kasatkina D.,...,1.68,2.18,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Kudermetova V.,...,2.36,1.59,NaN,NaN,NaN,NaN,NaN,NaN,None,1204426
2,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Sakkari M.,...,1.23,4.16,NaN,NaN,NaN,NaN,NaN,NaN,1206289,None
3,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Putintseva Y.,...,1.31,3.44,NaN,NaN,NaN,NaN,NaN,NaN,1201709,None
4,1,Abu Dhabi,Abu Dhabi WTA Women's Tennis Open,2021-01-06,WTA500,Outdoor,Hard,1st Round,3,Flipkens K.,...,2.44,1.55,NaN,NaN,NaN,NaN,NaN,NaN,1201465,1201696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24934,59,Zhuhai,WTA Elite Trophy,2018-11-02,Tour Championships,Indoor,Hard,Round Robin,3,Muguruza G.,...,1.88,1.95,1.90,2.00,NaN,NaN,NaN,NaN,1202469,1201545
24935,59,Zhuhai,WTA Elite Trophy,2018-11-02,Tour Championships,Indoor,Hard,Round Robin,3,Wang Q.,...,2.41,1.58,2.45,1.60,NaN,NaN,NaN,NaN,None,None
24936,59,Zhuhai,WTA Elite Trophy,2018-11-03,Tour Championships,Indoor,Hard,Semifinals,3,Barty A.,...,1.96,1.87,1.95,1.95,NaN,NaN,NaN,NaN,1202458,1201504
24937,59,Zhuhai,WTA Elite Trophy,2018-11-03,Tour Championships,Indoor,Hard,Semifinals,3,Wang Q.,...,2.25,1.67,2.25,1.70,NaN,NaN,NaN,NaN,None,1202469
24938,59,Zhuhai,WTA Elite Trophy,2018-11-04,Tour Championships,Indoor,Hard,The Final,3,Barty A.,...,2.03,1.82,2.05,1.85,NaN,NaN,NaN,NaN,1202458,None

In [8]:
all_matches_df['winner_id'].isnull().sum()

12083

In [9]:
all_matches_df['loser_id'].isnull().sum()

12818

In [41]:
def get_tourney_level(series):
    if series == 'Grand Slam':
        return 'G'
    elif series in ['Masters 1000', 'Masters Cup']:
        return 'M'
    elif series in ['ATP250', 'ATP500']:
        return 'A'
    else:
        return None

# Apply the function to create the 'tourney_level' column
all_matches_df['tourney_level'] = all_matches_df['Series'].apply(get_tourney_level)

In [11]:
# Display unique values in 'Series' and 'Court' columns
unique_series = all_matches_df['Tier'].unique() if 'Tier' in all_matches_df.columns else []
unique_court = all_matches_df['Court'].unique() if 'Court' in all_matches_df.columns else []
unique_surface = all_matches_df['Surface'].unique() if 'Surface' in all_matches_df.columns else []

print("Unique values in 'Series':", unique_series)
print("Unique values in 'Court':", unique_court)
print("Unique values in 'Surface':", unique_surface)

Unique values in 'Series': ['WTA500' 'Grand Slam' 'WTA250' 'WTA1000' 'WTA251' 'WTA252' 'WTA253'
 'WTA254' 'WTA255' 'WTA256' 'WTA257' 'WTA258' 'WTA259' 'WTA260' 'WTA261'
 'WTA262' 'WTA263' 'WTA264' 'WTA265' 'WTA266' 'WTA267' 'WTA268' 'WTA269'
 'WTA270' 'WTA271' 'WTA272' 'WTA273' 'WTA274' 'WTA275' 'WTA276'
 'Tour Championships' 'International' 'Premier']
Unique values in 'Court': ['Outdoor' 'Indoor']
Unique values in 'Surface': ['Hard' 'Clay' 'Grass']

In [44]:
all_matches_df['Date'] = pd.to_datetime(all_matches_df['Date'], format='%Y-%m-%d')

In [46]:
all_matches_df['Year'] = all_matches_df['Date'].dt.year

In [48]:
all_matches_df.rename(columns={
    'Surface': 'surface',
    'WRank': 'winner_rank',
    'LRank': 'loser_rank'
}, inplace=True)

In [49]:
all_matches_df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'surface',
       'Round', 'Best of', 'Winner', 'Loser', 'winner_rank', 'loser_rank',
       'WPts', 'LPts', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5',
       'L5', 'Wsets', 'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL',
       'MaxW', 'MaxL', 'AvgW', 'AvgL', 'EXW', 'EXL', 'LBW', 'LBL', 'SJW',
       'SJL', 'winner_id', 'loser_id', 'tourney_level', 'Year'],
      dtype='object')

# Second Attempt: Fuzzy Match to Tourney Match and backfill the missing ID

Match to tourney match based on tourney name, tourney level, surface, tourney_year, winner_rank and loser rank

By this, we can backfill the winner or loser id missing as well

In [12]:
tourney_match = pd.read_csv('CIS 5500/CIS-5500/tourney_match.csv')

/Users/duchoang/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3,8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
unique_series = tourney_match['tourney_level'].unique() if 'tourney_level' in tourney_match.columns else []
unique_surface = tourney_match['surface'].unique() if 'surface' in tourney_match.columns else []

print("Unique values in 'Series':", unique_series)
print("Unique values in 'Surface':", unique_surface)

Unique values in 'Series': ['A' 'G' 'M' 'F' 'D' 'W' 'E' 'O' 'J' 'CC' 'I' 'PM' 'P' 'T1' 'T2' 'T3' 'T4'
 'T5']
Unique values in 'Surface': ['Hard' 'Clay' 'Grass' nan 'Carpet']

In [59]:
tourney_match

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_year
0,M020,Brisbane,Hard,32.0,A,2018-12-31,300,105453,2.0,NaN,...,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0,2019
1,M020,Brisbane,Hard,32.0,A,2018-12-31,299,106421,4.0,NaN,...,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0,2019
2,M020,Brisbane,Hard,32.0,A,2018-12-31,298,105453,2.0,NaN,...,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0,2019
3,M020,Brisbane,Hard,32.0,A,2018-12-31,297,104542,NaN,PR,...,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0,2019
4,M020,Brisbane,Hard,32.0,A,2018-12-31,296,106421,4.0,NaN,...,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343538,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,1,1200259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343539,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,2,1200318,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343540,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,3,1200237,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343541,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,4,1200259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978
343542,W001,Wightman Cup,Carpet,NaN,D,1978-11-03,5,1200266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978

In [ ]:
tourney_match[tourney_match['Winner']=='Williams S.']

In [ ]:
# match on tourney_level, surface, contains (tourney_name), winner_rank, loser_rank -> tourney_id, tourney_name, surface, tourney_level, tourney_year, match_num, winner_id, loser_id, winner_rank, loser_rank

In [60]:
# Perform the merge with the specified conditions
merged_df = pd.merge(
    all_matches_df,
    tourney_match,
    left_on=['tourney_level', 'surface', 'Year', 'winner_rank', 'loser_rank'],
    right_on=['tourney_level', 'surface', 'tourney_year', 'winner_rank', 'loser_rank'],
    suffixes=('_all_matches', '_tourney')
)

# Filter rows where 'Tournament' contains 'tourney_name'
merged_df = merged_df[merged_df.apply(lambda row: row['tourney_name'].lower() in row['Tournament'].lower(), axis=1)]

In [69]:
# Fill winner_id_all_matches with winner_id_tourney if it is None
merged_df['winner_id_all_matches'].fillna(merged_df['winner_id_tourney'], inplace=True)

# Fill loser_id_all_matches with loser_id_tourney if it is None
merged_df['loser_id_all_matches'].fillna(merged_df['loser_id_tourney'], inplace=True)

In [70]:
merged_df[['winner_id_all_matches', 'winner_id_tourney', 'loser_id_all_matches', 'loser_id_tourney']]

,winner_id_all_matches,winner_id_tourney,loser_id_all_matches,loser_id_tourney
0,105932,105932,105063,105063
1,123795,123795,200390,200390
2,200325,200325,106210,106210
3,122330,122330,106099,106099
4,105676,105676,105732,105732
...,...,...,...,...
26136,105208,105208,106058,106058
26137,104545,104545,105815,105815
26138,126774,126774,104926,104926
26139,105208,105208,104545,104545
26140,126774,126774,105208,105208

In [77]:
merged_df['odds_maker'] = 'Bet 365'

In [78]:
merged_df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'surface',
       'Round', 'Best of', 'Winner', 'Loser', 'winner_rank', 'loser_rank',
       'WPts', 'LPts', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5',
       'L5', 'Wsets', 'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL',
       'MaxW', 'MaxL', 'AvgW', 'AvgL', 'EXW', 'EXL', 'LBW', 'LBL', 'SJW',
       'SJL', 'winner_id_all_matches', 'loser_id_all_matches', 'tourney_level',
       'Year', 'tourney_id', 'tourney_name', 'draw_size', 'tourney_date',
       'match_num', 'winner_id_tourney', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id_tourney', 'loser_seed', 'loser_entry', 'loser_name',
       'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced', 'winner_rank_points', 'loser_rank_points', 'tourney_year',
       'odds_maker'],
      dtype='object')

In [81]:
winner = merged_df[['match_num', 'tourney_date', 'tourney_id', 'winner_id_all_matches', 'B365W', 'odds_maker']]
winner.rename(columns={
    'winner_id_all_matches': 'player_id',
    'B365W': 'Odds'
}, inplace=True)
winner

/Users/duchoang/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       match_num tourney_date tourney_id  player_id  Odds odds_maker
0            277   2021-01-05       9426     105932  1.50    Bet 365
1            276   2021-01-05       9426     123795  2.50    Bet 365
2            272   2021-01-05       9426     200325  1.50    Bet 365
3            282   2021-01-05       9426     122330  1.61    Bet 365
4            270   2021-01-05       9426     105676  1.40    Bet 365
...          ...          ...        ...        ...   ...        ...
26136        296   2018-10-15       0429     105208  1.66    Bet 365
26137        297   2018-10-15       0429     104545  1.30    Bet 365
26138        298   2018-10-15       0429     126774  1.66    Bet 365
26139        299   2018-10-15       0429     105208  2.20    Bet 365
26140        300   2018-10-15       0429     126774  1.40    Bet 365

[10255 rows x 6 columns]

In [86]:
loser = merged_df[['match_num', 'tourney_date', 'tourney_id', 'loser_id_all_matches', 'B365L', 'odds_maker']]
loser.rename(columns={
    'loser_id_all_matches': 'player_id',
    'B365L': 'Odds'
}, inplace=True)
loser

/Users/duchoang/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       match_num tourney_date tourney_id  player_id  Odds odds_maker
0            277   2021-01-05       9426     105063  2.50    Bet 365
1            276   2021-01-05       9426     200390  1.50    Bet 365
2            272   2021-01-05       9426     106210  2.50    Bet 365
3            282   2021-01-05       9426     106099  2.20    Bet 365
4            270   2021-01-05       9426     105732  2.75    Bet 365
...          ...          ...        ...        ...   ...        ...
26136        296   2018-10-15       0429     106058  2.20    Bet 365
26137        297   2018-10-15       0429     105815  3.50    Bet 365
26138        298   2018-10-15       0429     104926  2.20    Bet 365
26139        299   2018-10-15       0429     104545  1.66    Bet 365
26140        300   2018-10-15       0429     105208  3.00    Bet 365

[10255 rows x 6 columns]

In [88]:
pd.concat([winner,loser]).to_csv('CIS 5500/Project/atp_odds_cleaned.csv')